@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
  overflow-x: hidden;
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 24px;
}

button svg, a svg {
  stroke-width: 1.2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-lg font-medium;
}

p {
  @apply text-[16px] text-gray-100;
}

a:hover {
  @apply opacity-80;
}