@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
  overflow-x: hidden;
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  @apply pt-8 pb-20 px-4 md:pt-10 md:px-6;
}

button svg, a svg {
  stroke-width: 1.2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-2xl md:text-4xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-lg font-medium;
}

p {
  @apply text-[16px] text-stone-100;
}

a:hover {
  @apply opacity-80;
}

.bg-dot:before {
  position: absolute;
  content: ' ';
  z-index: -1;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 16px 16px;
  mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  /*mask-image: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 60%);*/
}