@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 5% 10%; /* #1b1a19 */
    --foreground: 0 0% 100%; /* #ffffff */
    --card: 240 5% 12%; /* #201f1e */
    --card-foreground: 0 0% 100%;
    --popover: 240 5% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 24 89% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 5% 20%;
    --muted-foreground: 0 0% 80%;
    --accent: 24 89% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5% 20%;
    --input: 240 5% 20%;
    --ring: 24 89% 51%;
    --chart-1: 24 89% 51%;
    --chart-2: 160 100% 40%;
    --chart-3: 210 100% 40%;
    --chart-4: 280 100% 60%;
    --chart-5: 340 100% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
  overflow-x: hidden;
}

body:before {
  position: fixed;
  content: ' ';
  z-index: -100;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 16px 16px;
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

body.dark:before {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  @apply pt-6 md:pt-10 px-4 md:px-6 pb-20;
}

h1 {
  @apply text-2xl md:text-4xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-lg font-medium;
}

a:hover {
  @apply text-foreground/80;
}

.adaptive-card {
  @apply border-r-0 md:border-r border-l-0 md:border-l rounded-none md:rounded-lg mx-[-16px] md:mx-0 px-4 md:px-6 py-6;
}

.container-half {
  @apply md:m-auto md:w-3/5;
}

.block-indent {
  @apply mb-6 md:mb-10;
}
